ALTER TABLE [dbo].[MobileSalesDetails] DROP CONSTRAINT [FK_MobileDetailsMobileSalesDetails]
GO
/****** Object:  Table [dbo].[MonthlyMobileDetails]    Script Date: 18-02-2021 12:14:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonthlyMobileDetails]') AND type in (N'U'))
DROP TABLE [dbo].[MonthlyMobileDetails]
GO
/****** Object:  Table [dbo].[MonthlyBrandWiseMobileDetails]    Script Date: 18-02-2021 12:14:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonthlyBrandWiseMobileDetails]') AND type in (N'U'))
DROP TABLE [dbo].[MonthlyBrandWiseMobileDetails]
GO
/****** Object:  Table [dbo].[MobileSalesDetails]    Script Date: 18-02-2021 12:14:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MobileSalesDetails]') AND type in (N'U'))
DROP TABLE [dbo].[MobileSalesDetails]
GO
/****** Object:  Table [dbo].[MobileSaleComparisonDetails]    Script Date: 18-02-2021 12:14:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MobileSaleComparisonDetails]') AND type in (N'U'))
DROP TABLE [dbo].[MobileSaleComparisonDetails]
GO
/****** Object:  Table [dbo].[MobileDetails]    Script Date: 18-02-2021 12:14:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MobileDetails]') AND type in (N'U'))
DROP TABLE [dbo].[MobileDetails]
GO
/****** Object:  Table [dbo].[MobileDetails]    Script Date: 18-02-2021 12:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MobileDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MobileBrand] [varchar](255) NOT NULL,
	[MobileName] [varchar](255) NOT NULL,
	[PurchasePrice] [decimal](9, 2) NOT NULL,
	[MRPrice] [decimal](9, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MobileSaleComparisonDetails]    Script Date: 18-02-2021 12:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MobileSaleComparisonDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MobileID] [int] NOT NULL,
	[MobileBrand] [varchar](255) NOT NULL,
	[MobileName] [varchar](255) NOT NULL,
	[CurrentSaleCount] [int] NOT NULL,
	[PrevSaleCount] [int] NOT NULL,
	[CurrentProfitLoss] [decimal](9, 2) NOT NULL,
	[PrevProfitLoss] [decimal](9, 2) NOT NULL,
	[CurrentProfitLossPercent] [decimal](9, 2) NOT NULL,
	[PrevProfitLossPercent] [decimal](9, 2) NOT NULL,
	[CurrentDiscountPercent] [decimal](9, 2) NOT NULL,
	[PrevDiscountPercent] [decimal](9, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MobileSalesDetails]    Script Date: 18-02-2021 12:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MobileSalesDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MobileId] [int] NOT NULL,
	[SalePrice] [decimal](9, 2) NOT NULL,
	[SalesDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyBrandWiseMobileDetails]    Script Date: 18-02-2021 12:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyBrandWiseMobileDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MobileBrand] [varchar](255) NOT NULL,
	[ProfitLoss] [int] NOT NULL,
	[ProfitLossPercent] [decimal](9, 2) NOT NULL,
	[SalesMonth] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyMobileDetails]    Script Date: 18-02-2021 12:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyMobileDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfitLoss] [int] NOT NULL,
	[ProfitLossPercent] [decimal](9, 2) NOT NULL,
	[SalesMonth] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MobileDetails] ON 

INSERT [dbo].[MobileDetails] ([Id], [MobileBrand], [MobileName], [PurchasePrice], [MRPrice]) VALUES (1, N'Samsung', N'Samsung Galaxy F62', CAST(22999.00 AS Decimal(9, 2)), CAST(24999.00 AS Decimal(9, 2)))
INSERT [dbo].[MobileDetails] ([Id], [MobileBrand], [MobileName], [PurchasePrice], [MRPrice]) VALUES (2, N'Samsung', N'Samsung Galaxy M51', CAST(21000.00 AS Decimal(9, 2)), CAST(24999.00 AS Decimal(9, 2)))
INSERT [dbo].[MobileDetails] ([Id], [MobileBrand], [MobileName], [PurchasePrice], [MRPrice]) VALUES (3, N'Samsung', N'Samsung Galaxy M31s', CAST(18499.00 AS Decimal(9, 2)), CAST(19999.00 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[MobileDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[MobileSaleComparisonDetails] ON 

INSERT [dbo].[MobileSaleComparisonDetails] ([Id], [MobileID], [MobileBrand], [MobileName], [CurrentSaleCount], [PrevSaleCount], [CurrentProfitLoss], [PrevProfitLoss], [CurrentProfitLossPercent], [PrevProfitLossPercent], [CurrentDiscountPercent], [PrevDiscountPercent]) VALUES (145, 1, N'Samsung', N'Samsung Galaxy F62', 19, 27, CAST(4330.00 AS Decimal(9, 2)), CAST(7419.00 AS Decimal(9, 2)), CAST(0.99 AS Decimal(9, 2)), CAST(1.19 AS Decimal(9, 2)), CAST(7.09 AS Decimal(9, 2)), CAST(6.90 AS Decimal(9, 2)))
INSERT [dbo].[MobileSaleComparisonDetails] ([Id], [MobileID], [MobileBrand], [MobileName], [CurrentSaleCount], [PrevSaleCount], [CurrentProfitLoss], [PrevProfitLoss], [CurrentProfitLossPercent], [PrevProfitLossPercent], [CurrentDiscountPercent], [PrevDiscountPercent]) VALUES (146, 2, N'Samsung', N'Samsung Galaxy M51', 28, 25, CAST(5913.00 AS Decimal(9, 2)), CAST(8226.00 AS Decimal(9, 2)), CAST(1.01 AS Decimal(9, 2)), CAST(1.57 AS Decimal(9, 2)), CAST(15.15 AS Decimal(9, 2)), CAST(14.68 AS Decimal(9, 2)))
INSERT [dbo].[MobileSaleComparisonDetails] ([Id], [MobileID], [MobileBrand], [MobileName], [CurrentSaleCount], [PrevSaleCount], [CurrentProfitLoss], [PrevProfitLoss], [CurrentProfitLossPercent], [PrevProfitLossPercent], [CurrentDiscountPercent], [PrevDiscountPercent]) VALUES (147, 3, N'Samsung', N'Samsung Galaxy M31s', 36, 26, CAST(8834.00 AS Decimal(9, 2)), CAST(9740.00 AS Decimal(9, 2)), CAST(1.33 AS Decimal(9, 2)), CAST(2.03 AS Decimal(9, 2)), CAST(6.27 AS Decimal(9, 2)), CAST(5.63 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[MobileSaleComparisonDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[MobileSalesDetails] ON 

INSERT [dbo].[MobileSalesDetails] ([Id], [MobileId], [SalePrice], [SalesDate]) VALUES (1, 1, CAST(24000.00 AS Decimal(9, 2)), CAST(N'2021-02-16T16:43:34.857' AS DateTime))
INSERT [dbo].[MobileSalesDetails] ([Id], [MobileId], [SalePrice], [SalesDate]) VALUES (2, 2, CAST(23000.00 AS Decimal(9, 2)), CAST(N'2021-02-16T16:43:34.857' AS DateTime))
INSERT [dbo].[MobileSalesDetails] ([Id], [MobileId], [SalePrice], [SalesDate]) VALUES (3, 3, CAST(21000.00 AS Decimal(9, 2)), CAST(N'2021-02-16T16:43:34.857' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MobileSalesDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[MonthlyBrandWiseMobileDetails] ON 

INSERT [dbo].[MonthlyBrandWiseMobileDetails] ([Id], [MobileBrand], [ProfitLoss], [ProfitLossPercent], [SalesMonth]) VALUES (98, N'LG', 13086, CAST(1.18 AS Decimal(9, 2)), 1)
INSERT [dbo].[MonthlyBrandWiseMobileDetails] ([Id], [MobileBrand], [ProfitLoss], [ProfitLossPercent], [SalesMonth]) VALUES (99, N'LG', 5582, CAST(0.66 AS Decimal(9, 2)), 2)
INSERT [dbo].[MonthlyBrandWiseMobileDetails] ([Id], [MobileBrand], [ProfitLoss], [ProfitLossPercent], [SalesMonth]) VALUES (100, N'Motorola', 9243, CAST(1.62 AS Decimal(9, 2)), 1)
SET IDENTITY_INSERT [dbo].[MonthlyBrandWiseMobileDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[MonthlyMobileDetails] ON 

INSERT [dbo].[MonthlyMobileDetails] ([Id], [ProfitLoss], [ProfitLossPercent], [SalesMonth]) VALUES (46, 62029, CAST(0.98 AS Decimal(9, 2)), 1)
INSERT [dbo].[MonthlyMobileDetails] ([Id], [ProfitLoss], [ProfitLossPercent], [SalesMonth]) VALUES (47, 60342, CAST(0.97 AS Decimal(9, 2)), 2)
SET IDENTITY_INSERT [dbo].[MonthlyMobileDetails] OFF
GO
ALTER TABLE [dbo].[MobileSalesDetails]  WITH CHECK ADD  CONSTRAINT [FK_MobileDetailsMobileSalesDetails] FOREIGN KEY([MobileId])
REFERENCES [dbo].[MobileDetails] ([Id])
GO
ALTER TABLE [dbo].[MobileSalesDetails] CHECK CONSTRAINT [FK_MobileDetailsMobileSalesDetails]
GO
